@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
#header .row .h1{
    font-style: italic;
    display: block;
}
.nav:hover{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.219);
    text-decoration: dashed;
    
}
.row .feat {
    text-decoration: dashed;
    font-weight: 900;


}